src/main/mule/github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d8d0e01b-dc64-4c5a-873d-648de9a84bb8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="335151cd-70a9-4880-b904-37f240215efe" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="123456" />
	</db:config>
	<flow name="githubFlow" doc:id="15419a80-93ef-4dab-9cc4-e94402ecd012" >
		<http:listener doc:name="Listener" doc:id="dcc6fccc-4fda-4525-9095-96bdd065ed4c" config-ref="HTTP_Listener_config" path="/github"/>
		<set-variable value="#[attributes.queryParams.empname]" doc:name="Set Variable" doc:id="3c907770-b25b-46c2-b2ae-4be4a425eed6" variableName="name"/>
		<logger level="INFO" doc:name="Logger" doc:id="c5a4fa4c-52b9-4015-bec7-91daaffeed6c" message='Name of the employee is #[vars.name]'/>
		<db:select doc:name="Select" doc:id="c739de0b-2184-4949-8bcc-351c5ccb0821" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM assignment.employee where EmpId=:EmpId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	EmpId : payload.EmpId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e00021d5-5cee-4bb2-a093-def42abda37f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
